{% extends 'advance/base.html' %}
{% load static %}

{% block p_title %} 마이페이지 {% endblock %}

{% block main %} 
    <section>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6 text-light" id="main-area">
        <p style="font-size: 70px; font-weight: bold; margin-top: 100px;">MY PAGE</p>
        <h5>username : {{user.username}}</h5>
        <h5 style="margin-bottom: 60px;">email :
        {{user.email}}
        </h5>
      </div>


    </div>
    <div style="margin-bottom: 60px;">
      {% include 'advance/calendar.html' %}
    </div>
  </div>
  </section>
{% endblock %}