<!--navbar-->
<nav>
    <div class="text-center py-3">
        <image src="#" width="30px" height="30px">&nbsp; 
        <span>Study with 이름</span>
    </div>
    <div class="text-center py-1">
        <a type="button" class="btn btn-success" id="btn_mypage">
            마이페이지
        </a>
    </div>
    <ul class="list-unstyled py-4">
        <li class="pb-3">
            권민정
            <div class="li-nav py-1">
                CSS
            </div>
            <div class="li-nav py-1">
                Javascripts
            </div>
        </li>
        <li class="py-3">
            김지현
            <div class="li-nav py-1">
                3D
            </div>
        </li>
        <li class="py-3">
            오윤지
            <div class="li-nav py-1"> 
                Python
            </div>
        </li>
        <li class="py-3">    
            조수인
            <div class="li-nav py-1">
                Python
            </div>
        </li >
    </ul>
</nav>