{% extends 'advance/base.html' %}
{% load static %}

{% block p_title %} Study_with_US {% endblock %}

{% block main %}
    <div id="post-area">
        <!-- Page content-->
        <div class="container m-5">
            <div class="row">
                {% for p in post_list %}
                <div class="container rounded-3 m-5" id="list" style="background-color: #aac2ad">
                <!-- Post content-->
                    <!-- Preview image figure-->
                    <div class="text-center" id="list_image">
                        <figure class="mt-5">
                            {% if p.image %}
                            <img class="img-fluid rounded" src="{{ p.image.url }}" alt="{{p.title}}의 image" />
                            {% else %}
                            <img class="img-fluid rounded" src="https://picsum.photos/seed/{{p.pk}}/1200/400" alt="random image" />
                            {% endif %}
                        </figure>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="m-5" id="list_context">
                                <div class="mt-5 post-info">
                                    {{ p.created_at | date:"Y-m-d h:m:s" }}
                                </div>
                                <div class="mt-1 post-info" style="font-size: 2em; color: #0c2238;">
                                    {{ p.author | upper }}
                                </div>
                                <hr>
                                <!-- Post title-->
                                <div class="mt-5" style="color: #0c2238;">
                                    <h1 class="fw-bolder mb-1">{{ p.title }}</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="m-5 text-center">
                                <a class="btn btn-outline-secondary btn-lg btn-block" role="button"
                                href="{{ p.get_absolute_url }}">
                                    <span style="color: white; text-size: 3em;">  보러가기  </span></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if is_paginated %}
        <!-- Pagination -->
        <ul class="pagination pagination-lg justify-content-center mb-4">
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        Older
                    </a>
                </li>
            {% else %}
                <li class="page-item" disabled>
                    <a class="page-link" href="#">Older</a>
                </li>
            {% endif %}

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    Newer
                </a>
            </li>
            {% else %}
                <li class="page-item" disabled>
                    <a class="page-link" href="#">Newer</a>
                </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
{% endblock %}